<div class="container">
  <div style="text-align:center; margin-top:40px;">

  <!-- REGISTER -->
  <div *ngIf="view === 'register'">
    <h2>Register</h2>

    <input [(ngModel)]="registerData.name" placeholder="Name"><br><br>
    <input [(ngModel)]="registerData.email" placeholder="Email"><br><br>
    <input [(ngModel)]="registerData.password" type="password" placeholder="Password"><br><br>

    <button (click)="register()">Register</button>
    <p (click)="view='login'" style="cursor:pointer; color:blue;">
      Go to Login
    </p>
  </div>

  <!-- LOGIN -->
  <div *ngIf="view === 'login'">
    <h2>Login</h2>

    <input [(ngModel)]="loginData.email" placeholder="Email"><br><br>
    <input [(ngModel)]="loginData.password" type="password" placeholder="Password"><br><br>

    <button (click)="login()">Login</button>
    <p (click)="view='register'" style="cursor:pointer; color:blue;">
      Create Account
    </p>
  </div>

  <!-- PROFILE -->
  <div *ngIf="view === 'profile'">
    <h2>User Profile</h2>

    <p><b>Name:</b> {{ user?.name }}</p>
    <p><b>Email:</b> {{ user?.email }}</p>

    <button (click)="logout()">Logout</button>
  </div>

</div>
</div>